@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$font-stack:    "Open Sans", sans-serif;
$primary-color:  #FFFFFF;

//body set up for display for individual devices
* {
    overflow:hidden; 
    }
body{
    color: $primary-color;
    font-family: $font-stack;
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}
@mixin small {
    @media only screen and (max-width: 820px) {
      @content;
    }
  }
//gradient is set from top to bottom and view height set to 100%
.home-page, .privacy-page{
    background:linear-gradient(to top, #1F90C0, #3F3CF3 ) ;
    height: calc(var(--vh, 1vh) * 100);

}
//removal of presets variables 
p, h1, h2{
    padding:0;
    margin:0;
    font-style: normal;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: $primary-color;
}

//<---------HOME PAGE LAYOUT-------------->
.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        .group1{
            .your-city{
                font-size: 64px;
                line-height: 87px;  
                font-weight: 400;
                @include small{
                    font-size: 24px;
                    line-height: 33px;  
                  }
            }
        }
        .group2{
            .location{
                font-weight: 700;
                font-size: 72px;
                line-height: 98px;
                animation: expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @keyframes expand {
                    0% {
                        letter-spacing: -0.5em;
                        opacity: 0;
                    }
                    40% {
                      opacity: 0.6;
                    }
                    100% {
                        opacity: 1;
                    }
              } 
              @include small{
                font-size: 36px;
                line-height: 49px;  
              } 
            }
            .rectangle{
                width: auto;
                height: 8px;
                top: 620px;
                background: $primary-color;
                animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    @keyframes slide-right {
                         0% {
                            transform: translateX(1000px);
                            opacity: 0;
                        }
                        100% {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }

            }
            .privacy-link{
                position: absolute;
                font-size: 13px;
                line-height: 18px;
                top: 95%;
            }
}


/* Privacy Page */

.privacy-page{
        .group4{
            padding-top: 32px;
            padding-left:32px;
            @include small{
                padding-left: 24px;
                padding-right:24px;
              }
                .privacy-policy{
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 98px;
                    @include small{
                        font-size: 36px;
                        line-height: 49px;
                      }
                }
                .info-privacy{
                    padding-top:32px;
                    font-size: 16px ;
                    @include small{
                       padding-top: 32px;
                        font-size: 16px;
                        line-height: 22px;          
                      }
   
                }
        }   
        .home-link{
            position: absolute;
            width: 39px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 18px;
            font-size: 13px;
            top: 95%;
        }

}


